@import url("./colors.css");
@import url('https://fonts.googleapis.com/css?family=Parisienne');


:root{
  --rose: #F1E4CB;
  --brown: #C8B4B3;
  --gray-light: #F9F9F9;
  --gray-dark: #9D9D9D;
  --dark: #464646;
  --green: #2DC997;
  --purple: #393168;
}

body{
  margin: auto;
  max-width: 450px;
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

header{
  background-color: var(--gray-dark);
  height: 2.5em;
  width: 100%;
  position: fixed;
  right: 0;
  z-index: 1000;
}

.section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-italic{
  font-style: italic;
}

.box{
  width: 100px;
  height: 64px;

  border-radius: 17px;

  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  margin:auto;
}

.box.box--medium{
  width: 131px;
  height: 56px;
  
  border-radius: 10px;
}

.box.box--large{
  width: 290px;
  height: 120px;

  border-radius: 16px;
  padding: 10px;
}

.box.box--rectangle{
  width: 288px;
  height: 84px;

  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.box.box--rectangle p{
  font-size: 150%;
}

.ellipse--large{
  width: 150%;
  height: 100px;
  border-radius: 50% / 50%;
  
  padding-top: 10px;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.ellipse--large p{
  font-size: 32px;
  color: var(--white);
}

.triangle{
  width: 0;
  height: 0;
  border-bottom: 150px solid var(--gray-light);
  border-left: 100vw solid transparent;
  position: relative;
}

.banner{
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  top: -40px;
}

.cursiva{
  font-family: 'Parisienne', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.not-cursiva{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*  LANDING  */

#landing{
  background-image: url("../images/animation.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#landing h2{
  position: relative;
  top: 100px;
  
  color: #F9F9F9;
  font-size: 32px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
}

/*  EXPLANATION  */

#explanation .description{
  width: 100%;
  align-content: center;
  margin: auto;
  text-align: center;
}

#explanation .description{
  margin-top: 15px;
  margin: auto;
}

#explanation .description p{
  width: 355px;
}

#explanation .post-description *{
  margin: auto;
  margin-top: 20px;
}

#explanation .banks{
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  width: 100%;
  height: fit-content;
  justify-content: space-around;
  margin: auto;
}

#explanation .banks .bank {
  display: flex;
  flex-flow: row;
  width: 100%;
  margin-left: 10%;
}

#explanation .banks .bank .bank-box{
  flex-grow: 2;
  display: flex;
  flex-flow: row;
  width: 255px;
  align-items: center;
}

#explanation .banks .bank .bank-box .bank-box--left,
  .banks .bank .bank-box .bank-box--right
{
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}


#explanation .banks .bank .bank-box .bank-box--right{
  align-items: flex-start;
  margin-left: 10px;
}


#explanation .banks img{
  margin: 10px;
}

/*  TIAZINHA  */

#tiazinha .banner.img--cama-mesa-banho{
  background-image: url(../images/cama-mesa-e-banho1.jpg);
}

/*  INTERA  */
#intera .banner{
  top: 0;
}

#intera .img--Eletrodomesticos{
  background-image: url(../images/Belgrado-Corporativo-Eletrodomesticos1.jpg);
}

#intera .box--float{
  font-size: 1.2em;
  color: var(--gray-light);

  position: absolute;
  margin-top: 35px;
  padding: 10px;
}

/*  RICO  */

#rico .img--Eletrodomesticos{
  background-image: url(../images/rei-do-camarote-veja-sp-alexander-almeida-20131104-02-original.jpeg);
}

#rico .box p{
  text-align: center;
}

/*  MAP SECTION  */

#map-section .title-bar{
  color: #F9F9F9;
  background-color: var(--gray-dark);

  text-align: center;
  height: 2.8em;
  width: 100%;
}

#map-section #map{
  position: relative;
  width: 100%;
  height: 350px;

  /* background-image: url("../images/map.png"); */
}

#map-section #map #img-map{
  width: 100%;
  height: 350px;

  background-image: url("../images/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}

#map-section #map p{
  width: 210px;
  position: absolute;
  bottom: 10px;
  left: 0;
  padding: 5px;
  background-color: var(--gray-light);

  box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}

footer{
  background-color: var(--dark);
  height: 2.5em;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #F9F9F9;
}


footer a{
  color: var(--green);
}

